<nav class="nav nav-section">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <ul>
      <!-- <li><a href="{{ site.baseurl }}/">Issue</a></li> -->
      <li><a class="nav-link" href="{{ '/2018-fall' | prepend: site.baseurl }}">Issue1</a></li>
      <li><p>|</p></li>
      <li><a class="nav-link" href="{{ '/2019-fall' | prepend: site.baseurl }}">Issue2</a></li>
      <li><p>|</p></li>
      <li><a class="nav-link" href="{{ '/people' | prepend: site.baseurl }}">People</a></li>
      <li><p>|</p></li>
      <li><a class="nav-link" href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
    </ul>
  </div>
</nav>
